.overlay-box {
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translate(-30%, -8%);
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 2px;
    width: 400px;
    height: 318px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .overlay-box {
        top: 30%;
        left: 8%;
        transform: translate(-30%, -8%);
        width: 350px;
    }
}

@media (max-width: 768px) {
    .overlay-box {
        top: 20%;
        left: 15%;
        transform: translate(-20%, -15%);
        width: 350px;
    }
}

.overlay-box p{
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.award {
    margin: 100px 0 50px 0;
}

.award ~ p {
    padding: 0.3rem 0.3rem;
}

.hr-line {
    width: 1px;
    height: 70px;
    background-color: #7a7a7a;
    margin: 0 auto;
    margin-top: 100px;
}

.about-slide {
    margin-top: 100px;
    width: auto;
}

.column-img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px){
    .column-img {
        height: 800px;
        width: auto;
        object-fit: cover;
    }
}