html, body {
    min-height: 100%;
    margin: 0;
}

/* index h1 tag */
.h1-none {
    display: none;
}

/* index ken-burns slide */
.full-screen-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: kenburns 15s ease-in-out infinite;
    transform-origin: center;
}
.full-screen-image.active {
    opacity: 1;
}
@keyframes kenburns {
    0% {
        transform: scale(1.1) translate(0, 0);
    }
    50% {
        transform: scale(1.2) translate(-10px, -10px);
    }
    100% {
        transform: scale(1.1) translate(0, 0);
    }
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    z-index: 10;
}
.arrow.left {
    left: 20px;
}
.arrow.right {
    right: 20px;
}