.project-page {
    margin-top: 100px;
}

.show-img {
    width: 100%; /* 讓圖片寬度自適應容器 */
    display: block;
    padding: 0; /* 移除圖片的 padding */
}

.image-container {
    position: relative;
    display: inline-block;
    padding: 20px; /* 保留 image-container 的 padding */
    overflow: hidden; /* 確保子元素不會超出容器範圍 */
}

.overlay {
    position: absolute;
    top: 20px; /* 與 image-container 的 padding-top 相同 */
    left: 20px; /* 與 image-container 的 padding-left 相同 */
    /* 計算 overlay 的寬高，使其與圖片大小相同 */
    width: calc(100% - 40px); /* 減去左右 padding */
    height: calc(100% - 40px); /* 減去上下 padding */
    background-color: rgba(205, 205, 205, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* 預設隱藏 mobile-text-container */
.mobile-text-container {
    display: none;
}

.mb {
    margin-bottom: 100px;
}


@media (max-width: 768px) { 
    /* 在手機上隱藏 overlay */
    .overlay {
        display: none;
    }
    /* 手機上可能不需要 padding */
    .image-container {
        padding: 0;
    }

    .show-img {
        width: 100%;
        display: block;
        padding: 0;
    }

    .mobile-text-container {
        display: block; /* 顯示文字容器 */
        background-color: rgba(205, 205, 205, 0.5); /* 與 overlay 相同的背景顏色 */
        padding: 10px; /* 根據需要調整 padding */
    }

    .mobile-text-container .text {
        color: #6e6d6d;
        font-size: 1rem; /* 調整文字大小 */
        text-align: left; /* 文字靠左對齊 */
        /* 其他文字樣式 */
    }
    .mobile-text-container .text a{
        color: inherit;
    }
}