.overlay-box {
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translate(-30%, -8%);
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 2px;
    width: 400px;
    height: 318px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .overlay-box {
        top: 30%;
        left: 8%;
        transform: translate(-30%, -8%);
        width: 350px;
    }
}

@media (max-width: 768px) {
    .overlay-box {
        top: 20%;
        left: 15%;
        transform: translate(-20%, -15%);
        width: 350px;
    }
}

.overlay-box p{
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.award {
    margin: 100px 0 50px 0;
}

.award ~ p {
    padding: 0.3rem 0.3rem;
}

.hr-line {
    width: 1px;
    height: 70px;
    background-color: #7a7a7a;
    margin: 0 auto;
    margin-top: 100px;
}

.splide__track {
    overflow: hidden !important;
}

.splide__list {
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
    transform-style: preserve-3d !important;
}

.splide__slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 -30px !important;
    flex-shrink: 0 !important;
}

/* 手機版樣式 */
@media (max-width: 768px) {
    .splide__slide {
        margin: 0 -30px !important;
    }
}

.splide__slide img {
    max-width: 80% !important;
    width: auto !important;
    height: auto !important;
    object-fit: contain !important;
    display: block !important;
}

.about-slide {
    margin-top: 100px;
    width: auto;
}

.splide {
    width: auto;
    margin: 0 auto;
}

.splide__arrows {
    position: relative;
    z-index: 10;
}

.splide__arrow {
    background: rgba(255, 255, 255, 0.8) !important;
    position: absolute !important;
    transform: none !important;
    width: 2em !important;
    height: 2em !important;
    top: 40px !important;
}

.splide__arrow svg {
    fill: #e9e9e8 !important;  /* 例如：#000000 為黑色 */
}

.splide__arrow--prev {
    left: 1em !important;
}

.splide__arrow--next {
    right: 1em !important;
}


/* .bimg {
    background-image: url("../images/about/about-award.jpg");
    width: 1200px;
    height: 1200px;
} */