/* HTML page Setting */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* HTML page Setting end */


/* Navbar Setting */
.navbar {
    background-color: rgba(255, 255, 255, 0.9)
}

.navbar div a {
    font-family: 'Noto Serif TC', serif;
    color: #7a7a7a;
    font-size: 16px;
}

.navbar-brand {
    margin: 10px 10px 10px 40px;
}

.ig-size{
    font-size: 21px;
}

.navbar-menu :hover{
    color:black;
}
/* Navbar Setting end */


/* Content Setting */
.content-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.h1-none {
    display: none;
}
/* Content Setting end */


/* Footer Setting */
.footer-logo {
    min-width: 250px; /* 設定最小寬度，根據需求調整 */
}

.footer-color {
    position: fixed;       
    bottom: 0;             
    left: 0;
    width: 100%;           
    padding: 1rem 1.5rem;
    z-index: 1000;       
    background-color: #e9e9e8;
    font-family: 'Tahoma', serif;
    color: #7a7a7a;
    font-size: 12px;
}

.copyright{
    font-size: 8px;
    color: #bdbdbd;
    position: relative;
    top: -10px;
    /* right: 30px; */
    /* transform: translateY(-30px); */
}

/* .border-box {
    border-left: 1px solid #000;
} */
/* Footer Setting end */


/* Mobile web Setting */
@media (max-width: 1023px) {
    .content-wrapper {
        overflow:visible;
    }
    .navbar-menu{
        background-color: #cdcdcd;
    }
    .navbar-menu .navbar-item:hover {
        background-color: #6e6d6d;
        color: #fff;
        transition: background-color 0.3s ease;
    }
    .navbar-item {
        padding: 10px 20px;
        margin: 0;
    }
    .footer-pm {
        margin-left: 28px;
        padding: 20px 0;
    }
}
/* Mobile web Setting end */